$postWidth:50rem;
$postHeight: 50rem;
$frostedBlur:1rem;
$postContainerWidth:100vw;
$postConstainerHeight:100vh;

.blogPost{
  // position: absolute;
  margin: 0 auto;
  width:postWidth;
  height:postHeight;
  left:50rem;
  border: 2px solid white;
  background-attachment: fixed;
  border-radius:25px;
  display: flex;
  margin-bottom:1rem;
}
.postContent{
  border-top: 2px solid white;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color:#f7931d;
  color:black;
  display: inherit;
  align-items: center; 
}
.postTitle{
  top: 0;
  display: absolute;
}
.blogPostContainer:before{
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: inset 0 0 2000px rba(255,255,255,0.5);
  filter:blur($frostedBlur);
  background: inherit;
  width: 100%;
}
.blogPostContainer{
  background:inherit;
  position:relative;
  z-index: 1;
  overflow:scroll;
  width: $postContainerWidth;
  height: $postConstainerHeight;
  // left:12rem;
}

