@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

$cardWidth: 24rem;
$cardHeight: 38rem;
$titleSize: 3rem;
$categorySize: 1rem;
$avatar: 12rem;
$progressBarSize: 0.7rem;
$htmlBar: 95%;
$cssBar: 90%;
$jsBar: 75%;
$reactBar: 90%;
$nodeBar: 95%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.socialIcons {
  color: black;
}
.skillsIcons {
  color: white;
}

//body,main,cantainer..etc
#main {
  background: #202020;
  font-family: 'Krub', sans-serif;
}

.card {
  position: absolute;
  margin: auto;
  top: 6rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: $cardWidth;
  height: $cardHeight;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
  .ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: calc($cardWidth + 2.75rem);
    height: 10rem;
    background: #f7931d;
    animation: dsTop 1.5s;
  }
  .avatar-holder {
    position: absolute;
    margin: auto;
    top: 4.5rem;
    right: 0;
    left: 0;
    width: $avatar;
    height: $avatar;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000,
      inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .nameTop {
    color: black;
    font-size: $titleSize;
    font-weight: bold;
    padding: 0.313rem;
    text-align: center;
    translate: 0 3rem;
    width: $cardWidth;
  }
  .name {
    position: absolute;
    margin: auto;
    top: -10.75rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 2.5rem;
    text-align: center;
    animation: fadeIn 2s ease-in;
    h1,
    h2,
    h3 {
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.5rem;
      // &:hover {
      //   // text-decoration: underline;
      //   color: #f7931d;
      // }
    }
    h2 {
      float: left;
      padding-left: 0.25rem;
    }
    h3 {
      float: right;
      padding-right: 0.25rem;
    }
    h6 {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      width: 2.5rem;
    }
  }
  .socialLinks {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding-top: 0.5rem;
    width: 100%;
    border: none;
    outline: 0;
    height: 2.25rem;
    color: black;
    background-color: #f7931d;
    margin-top: 4rem;
    cursor: pointer;
    font-size: 25px;
    i {
      color: black;
    }
    a:visited {
      color: black;
    }
  }
  .socialLinks:hover,
  a:hover {
    font-size: 150%;
    transition: all 0.1s;
  }
  .button {
    position: absolute;
    margin: auto;
    padding: 0.5rem;
    top: 1.25rem;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 2.5rem;
    text-align: center;
    animation: fadeIn 2s ease-in;
    outline: none;
    a {
      padding: 0.313rem 1.25rem;
      border-radius: 6.25rem;
      color: white;
      letter-spacing: 0.05em;
      text-decoration: none;
      font-size: 0.625rem;
      transition: all 1s;
      &:hover {
        color: white;
        background: #f7931d;
      }
    }
  }
  .ds-info {
    position: absolute;
    margin: auto;
    top: 5.5rem;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    .pens,
    .projects,
    .posts {
      position: relative;
      left: -18.75rem;
      width: calc(15.625rem / 3);
      text-align: center;
      color: white;
      animation: fadeInMove 2s;
      animation-fill-mode: forwards;
      h6 {
        text-transform: uppercase;
        color: #f7931d;
        font-size: 1.2rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
    .ds {
      &:nth-of-type(2) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(1) {
        animation-delay: 1s;
      }
    }
  }
  .ds-skill {
    position: absolute;
    margin: auto;
    top: 18.5rem;
    bottom: 0.625rem;
    right: 0;
    left: 0;
    width: 90%;
    height: 18rem;
    animation: mvBottom 1.5s;
    h6 {
      margin-bottom: 0.313rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #f7931d;
    }
    .skill {
      h6 {
        font-weight: 400;
        font-size: $categorySize;
        letter-spacing: 0.05em;
        margin: 0.5rem 0;
        color: white;
      }
      .fab {
        color: #f7931d;
        font-size: 0.875rem;
      }
      .bar {
        height: $progressBarSize;
        padding-bottom: 0.2rem;
        border-radius: 20px;
        background: #f7931d;
        text-align: right;
        p {
          color: white;
          font-size: 0.9rem;
          font-weight: 700;
          padding-top: 0.85rem;
          animation: fadeIn 4s;
        }
        &:hover {
          background: white;
        }
      }
      .bar-html {
        // width: $htmlBar;
        animation: htmlSkill 1s;
        animation-delay: 0.2s;
      }
      .bar-css {
        // width: $cssBar;
        animation: cssSkill 2s;
        animation-delay: 0.2s;
      }
      .bar-js {
        // width: $jsBar;
        animation: jsSkill 3s;
        animation-delay: 0.2s;
      }
      .bar-react {
        // width: $reactBar;
        animation: reactSkill 2s;
        animation-delay: 0.2s;
      }
      .bar-node {
        // width: $nodeBar;
        animation: nodeSkill 1s;
        animation-delay: 0.2s;
      }
    }
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -18.75rem;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }
  // 100% {
  //   width: 0;
  // }
  //currently Handled in the card.jsx
}

@keyframes cssSkill {
  0% {
    width: 0;
  }
  // 100% {
  //   width: $cssBar;
  // }
}

@keyframes jsSkill {
  0% {
    width: 0;
  }
  // 100% {
  //   width: $jsBar;
  // }
}
@keyframes reactSkill {
  0% {
    width: 0;
  }
  // 100% {
  //   width: $reactBar;
  // }
}
@keyframes nodeSkill {
  0% {
    width: 0;
  }
  // 100% {
  //   width: $nodeBar;
  // }
}

@keyframes mvBottom {
  0% {
    bottom: -9.375rem;
  }
  100% {
    bottom: 0.625rem;
  }
}

@keyframes mvTop {
  0% {
    top: -9.375rem;
  }
  100% {
    top: 4.5rem;
  }
}

@keyframes dsTop {
  0% {
    top: -9.375rem;
  }
  100% {
    top: 0;
  }
}

.following {
  color: white;
  background: #f7931d;
}
